* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto',
		sans-serif;
}

.tittle {
	margin: 20px 0;
	text-align: center;
}

h1 {
	font-family: 'Indie Flower',
		cursive;
	font-size: 30px;
	text-shadow: 2px 1px 6px black;
}

p {
	font-size: 20px;
}

input {
	max-width: 450px;
	height: 60px;
	font-size: 35px;
	padding: 10px 0px 10px 20px;
	margin: 10px 15px;
	display: block;
	width: 100%;
	background-color: #ECECEC;
	border: none;
}

.app {
	margin: 0 auto;
	width: 550px;
	border: 2px solid #1A1A1A;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	min-height: 90vh;
	max-height: 90vh;
	padding-bottom: 30px;
}

.tasksList {
	margin: 10px;
	max-width: 450px;
	min-width: 60px;
	overflow-y: auto;
	max-height: 39vh;
}

#buttons {
	max-width: 450px;
	margin: 20px 15px;
	height: auto;
	width: 100%;
}

.btn {
	width: 130px;
	height: 40px;
	margin: 10px 5px;
	font-size: 20px;
}

.btn:hover {
	font-weight: 900;
	border: 1px solid #000;
}

ul {
	display: block;
	padding: 0;
	margin: 30px 0 0 0;
	list-style-type: none;
}

li {
	box-sizing: border-box;
	min-width: 290px;
	text-align: center;
	line-height: 75px;
	font-size: 24px;
	margin: 5px 0;
	padding: 0 15px;
	overflow-wrap: break-word;
	background-color: #ECECEC;
}

li:hover {
	font-weight: 900;
}

.add {
	background-color: #5F9364;
}

.delete {
	background-color: #DED47D;
}

.clear {
	background-color: #D46472;
}

.flex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

}



@media only screen and (max-width: 570px) {
	.app {
		width: 95vw;
	}

	li {
		/* min-width: 0; */
		width: 79vw;
	}
}

@media only screen and (max-height: 480px) {
	.tasksList {
		max-height: 31vh;
		margin: 0 10px;
	}
}

@media only screen and (min-height: 735px) {
	.tasksList {
		max-height: 50vh;
	}
}

@media only screen and (min-height: 890px) {
	.tasksList {
		max-height: 59vh;
	}
}